{
    "bip": "100.95.95.1/24",
    "icc": true,
    "ip-forward": true,
    "ip-masq": true,
    "iptables": true,
    "live-restore": true,
    "log-driver": "json-file",
    "log-opts": { "max-size": "1024m" },
    "storage-driver": "overlay2",
    "insecure-registries": [
      "{{ docker.registry }}"
    ],
    "storage-opts": [
      "overlay2.override_kernel_check=true"
    ]
}
